body {
	background-color: black;
}

h1{
	color:white;
	font-family: "Times New Roman";
	font-size: 50px;
}

p{
	color:white;
	font-family: "Times New Roman";
	font-size: 20px;
	font-style: italic;
}

.quotes{
	background-color:grey;
	width: 33%;
	margin-right: auto;
	margin-left:auto;
	border-color: white;
	border-style: solid;
	border-radius: 5px;
	margin-top: 20px;
	padding: 20px;
	height: auto;
	color:white;
	font-size:30px;
	font-family: "Times New Roman"
}

.author {
	font-size:20px;
	font-style:italic;
	font-family: "Times New Roman";
}